<!DOCTYPE html>
<html lang="da" ng-app="absenceList">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
     integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <meta charset="UTF-8">


     <style>
       .heading,h1 {
         text-align: center;
       }

       body {
           background-color: grey;
       }
       .container {
         background-color: #eeeeee;
           width: 60%;
       }

       p, th, h1 {
         color: #111111;
       }

         h1 {
             padding: 60px 0 0 0;
         }

         img {
             position: fixed;
             z-index: -1;
             top: 0;
             left: 0
         }

     </style>
</head>

<body ng-controller="StudentsController">

<main class="container-fluid">
    <div class="container">
  <section class="col-md-12"><h1>Tilstedeværende<h1></section>
  <section class="row">

    <section class="col-md-12">
      <table class="table table-sm">
        <tbody>
          <tr>
            <th>
              <p class="heading" ng-repeat="student in studentList" ng-hide="student.absence">

                 {{student.name}} - dage til stede - {{student.id}}</p>
                 {{student.name}} - dage til stede -{{student.id}}</p>

            </th>
          </tr>
        </tbody>
      </table>
    </section>
  </section>

  <section class="col-md-12"><h1>Fraværende<h1></section>
  <section class="row">

    <section class="col-md-12">
      <table class="table table-sm">
        <tbody>
          <tr>
            <th>
              <p class="heading"  ng-repeat="student in studentList" ng-show="student.absence">
                 {{student.name}} -  dage fraværende -{{student.id}}</p>

                 {{student.name}} - dage fraværende -{{student.id}}</p>
            </th>
          </tr>
        </tbody>
      </table>
</table>
    </section>
  </section>
    </div>

    <img src="giphy.gif">

</main>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
     integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
     integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
     integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

</body>

</html>
